body
{
    background-color: grey;
}

#navMenu 
{

}

#navMenu ul
{
    list-style: none;
    overflow: hidden;
    background-color: black;
}

#navMenu li
{
    font-family: Operator Mono, Consolas, monospace;
    font-weight: bold;
    float: left;
}

#navMenu li a
{
    display: inline-block;
    margin: 4% 16% 3%;
    padding: 4% 144px 5%;
    text-decoration: none;
    color: white;
    font-size: 160%;
}

#navMenu li a:hover
{
    background-color: yellow;
    transition: background-color 0.7s;
    font-style: italic;
}


.Boxy1{
    background-color: #f1f1f1;
    position: absolute;
    float: left;
    top: 26%;
    left: 13%;
    margin: 3%;
    padding: 16% 34%;
    border: thick solid black;
}

.Boxy2{
    background-color: white;
    position: absolute;
    float: left;
    top: 800px;
    left: 3.9%;   
    margin: 20px;
    padding: 260px 600px;
    border: thick solid black;
}

.Boxy3{
    background-color: white;
    position: absolute;
    float: left;
    top: 28.2%;
    left: -1%;   
    margin: 1.6%;
    padding: 26.64% 49%;
    border: thick solid black;
    border-width: 5%;
    z-index: -1;
}

.Boxy4{
    background-color: white;
    position: absolute;
    float: left;
    top: 190px;
    left: 33%;   
    margin: 20px;
    padding: 400px 200px;
    border: thick solid black;
}

.Boxy5{
    background-color: white;
    position: absolute;
    border: thick solid white;
    float: left;
    top: 136.2%;
    left: 17.43%;
    margin: 1.5%;
    padding: 8% 31.6%;
    border: 5px solid black;
    border-top-width: 0px;
    z-index: 1;
}

.Boxy6{
    background-color: black;
    position: absolute;
    float: left;
    top: 122%;
    left: 26%;   
    margin: 20px;
    padding: 130px 310px;
    border: thick solid Lime;
    z-index: 2;
}

.Boxy7{
    background-color: white;
    position: absolute;
    float: left;
    top: 188.5%;
    left: -1%;   
    margin: 1.6%;
    padding: 26.64% 49%;
    border: thick solid black;
    border-width: 5%;
    z-index: -1;
}

.Boxy8{
    background-color: white;
    position: absolute;
    border: thick solid white;
    float: left;
    top: 296.4%;
    left: 17.43%;
    margin: 1.5%;
    padding: 8% 31.6%;
    border: 5px solid black;
    border-top-width: 0px;
    z-index: 1;
}

.Boxy9{
    background-color: black;
    position: absolute;
    float: left;
    top: 282%;
    left: 26%;   
    margin: 20px;
    padding: 130px 310px;
    border: thick solid Lime;
    z-index: 2;
}

.Rocket_1_Text{
    position: absolute;
    float: left;
    font-size: 25px;
    top: 850px;
    left: 410px;
    color: lime;
    z-index: 2;
    width: 600px;
}

.Rocket_2_Text{
    position: absolute;
    float: left;
    font-size: 25px;
    top: 285%;
    left: 410px;
    color: lime;
    z-index: 2;
    width: 600px;
}

.Text1{
    font-size: 50px;
    font-family: sans-serif;
    position: absolute;
    top: 107%;
    left: 40%;
    
}

.Loggin1{
    position: absolute;
    font-family: sans-serif;
    font-size: 40px;
    float: left;
    left: 44%;
    top: 1400px;
}

.Loggin2{
    position: absolute;
    font-family: sans-serif;
    font-size: 40px;
    float: left;
    left: 44%;
    top: 340%;
    z-index: 2;
}

.Loggin3{
    position: absolute;
    font-family: sans-serif;
    font-size: 40px;
    float: left;
    left: 45%;
    top: 1100px;
    color: white;
}

.Link1{
    position: absolute;
    font-family: sans-serif;
    font-size: 40px;
    float: left;
    left: 28%;
    top: 680px;
    color: white;
}

.Inlogg1{
    
    position: absolute;
    float: left;
    left: 39%;
    top: 30%;
}


.Boop {
    font-size: 12px;
    font-family: Verdana, Arial;
    font-weight: bold;
    color: #000;
    float: center;
    left: 10px;
    margin: 5px 0px 5px 25px;
    padding: 5px;
}

.Box
{
    position: absolute;
    float: right;
    width: 30%;
    left: 35%;
    top: 30%;
    border: 2px #f2f2f2;
    background-color: #5F5F5F;
    border-radius: 20px;
    box-shadow: 3px 3px #a6a6a6;
    z-index: auto;
}
.Thingy {
    display: block;
    width: 80%;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 200px;
}

.left{
    position: absolute;
    float: left;
    left: 368px;
    top: 460px;
}

.right{
    position: absolute;
    float: left;
    left: 932px;
    top: 460px;
}

.left2{
    position: absolute;
    float: left;
    left: 368px;
    top: 1550px;
}

.right2{
    position: absolute;
    float: left;
    left: 932px;
    top: 1550px;
}

.images
{   
    display: none;
    
}

#firstShow
{
    display: block;
}

#ImageSlideshow
{
    padding-top: 10%;
    padding-left: 30%;
    padding-right: 37%;
    margin: 1.45% -0.1%;
}

#ImageSlideshow img, #ImageSlideshow2 img{
    border: solid lime 7px;
    border-radius: 20px;
}

#ImageSlideshow2 
{
    padding-top: 45%;
    padding-left: 30%;
    padding-right: 37%;

}
#firstShow{

}
#ImageSlideshow2 .images{
     border-style: 20px solid white;
}

.textruta1{
                position: absolute;
                float: left;
                left: 540px;
                width: 250px;
                top: 230px;
}

.h1big{
    font-size: 25px;
}

.färgfont{
    font-size: 20px;
}

.red{
    color: red;
}

.green{
    color: green;
}

.blue{
    color: blue;
}

.text1{
    font-size: 60px;
    position: absolute;
    float: left;
    left: 550px;
    top: 165px;
    color: lime;
    outline-color: black;
}

.text2{
    font-size: 60px;
    position: absolute;
    float: left;
    left: 550px;
    top: 150px;
    color: white;
    outline-color: black;
}

.text3{
    font-size: 60px;
    position: absolute;
    float: left;
    left: 550px;
    top: 150px;
    color: white;
    outline-color: black;
}

.text4{
    font-size: 60px;
    position: absolute;
    float: left;
    left: 550px;
    top: 150px;
    color: white;
    outline-color: black;
}

.text5{
    font-size: 60px;
    position: absolute;
    float: left;
    left: 550px;
    top: 1245px;
    color: lime;
    outline-color: black;
}

.text6{
    font-size: 25px;
    position: absolute;
    float: left;
    left: 250px;
    top: 210px;
    color: black;
    outline-color: black;
    width: 860px;
}

.text7{
    font-size: 40px;
    position: absolute;
    float: left;
    left: 820px;
    top: 840px;
    color: black;
    outline-color: black;
    width: 860px;
    z-index: 2;
}

.text8{
    font-size: 25px;
    position: absolute;
    float: left;
    left: 380px;
    top: 340px;
    color: black;
    outline-color: black;
    width: 860px;
    z-index: 2;
}

.Big1{
    font-size: 50px;
    position: absolute;
    float: left;
    left: 390px;
    top: 200px;
    color: black;
    outline-color: black;
    width: 660px;
    z-index: 2;
}

.s{
    font-size: 20px;
    position: absolute;
    float: left;
    left: 47%;
    top: 40%;
    color: black;
    outline-color: black;
    z-index: 5;
}

.image3{
    float: left;
    position: relative;
    top: 700px;
    left: 440px;
    z-index: 1;
    width: 450px;
}

@media (max-device-width: 0px)
{
    #navMenu li a
    {
        font-size: 5px;
    }
}